.idea
.vs
.vscode

Library
Logs
ValidationSuiteResults
Assets/Plugins**
obj/
/UserSettings/
/*.csproj
/*.sln
/Temp
*.bak
*.bak.meta
.DS_Store

Packages/com.unity.ide.visualstudio/Editor/COMIntegration/Release/build/
Packages/com.unity.ide.visualstudio/Editor/COMIntegration/Release/COMIntegration.exe
