.idea
.vs
.vscode

Library
Logs
ValidationSuiteResults
Assets/Plugins**
obj/
/UserSettings/
/ProjectSettings/*.asset
/*.csproj
/*.sln
/*.csproj.user
/*.slnx
/Temp
*.bak
*.bak.meta
.DS_Store

Packages/packages-lock.json
Packages/com.unity.ide.visualstudio/Editor/COMIntegration/Release/build/
Packages/com.unity.ide.visualstudio/Editor/COMIntegration/Release/COMIntegration.exe
